p{
    color: rebeccapurple;
    text-align: center;
}

h1{
    color: green;
    text-align: center;
}


h4{
    color: purple;
    
}

h2{
    color: blue;
    text-align: center;
}
body{
    background-color: rgb(142, 197, 201);
}